aiohttp==3.6.2
alpaca-backtrader-api==0.8.0
alpaca-trade-api==0.48
alpha-vantage==2.2.0
appdirs==1.4.3
async-timeout==3.0.1
asyncio-nats-client==0.10.0
attrs==19.3.0
backcall==0.2.0
backtrader==1.9.76.123
black==19.10b0
bleach==3.1.5
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
entrypoints==0.3
idna==2.9
importlib-metadata==1.7.0
ipykernel==5.3.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.1
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.5
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.1
mkl-service==2.3.0
multidict==4.7.6
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numpy==1.18.1
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pathspec==0.7.0
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.1
qtconsole==4.7.5
QtPy==1.9.0
regex==2020.5.14
requests==2.23.0
Send2Trash==1.5.0
sip==4.19.13
six==1.15.0
ta==0.5.25
terminado==0.8.3
testpath==0.4.4
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.24.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
yarl==1.4.2
zipp==3.1.0
